.btn {
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  display: block;
  font-weight: bold;
  margin: 0 auto;
  max-width: 200px;
  padding: 10px;
  text-decoration: none;
}

.btn:hover {
  background-color: #eeeeee;
}
